.box{
	border: 2px solid;
	border-radius: 5px;
	border-color: #cccccc;
	width: 300px;
}

/*hack para que el autocomplete de jquery ui se vea bien sobre el modal de bootstrap*/
.ui-autocomplete{
	z-index: 5000;
}

.map-crea-viaje{
	width:500px;
	height:380px;
	border: 2px solid;
	border-radius: 5px;
}

.btn-float{
	float: right;
}