.box{
	border: 2px solid;
	border-radius: 5px;
	border-color: #cccccc;
	width: 300px;
}

/*hack para que el autocomplete de jquery ui se vea bien sobre el modal de bootstrap*/
.ui-autocomplete{
	z-index: 5000;
}

.map-crea-viaje{
	width:400px;
	height:340px;
	border: 2px solid;
	border-radius: 5px;
}

.btn-float{
	float: right;
}

.modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.recomendacion-no-leida{
	background-color: #CCCCCC;
}

.ui-autocomplete-loading {
    background:url('../img/loading_0.gif') no-repeat right center
}

.vuelo-tramos-detail{
	font-size: 12px;
}

.vuelo-tramo-ajuste{
	display: inline;
}

.vuelo-selected{
	background-color: #CCCCFF;
}